<br/>
<div class="card">
  <div class="card-header">
    <h1>Hello People!</h1>
    <h2>Welcome to Personal Religion</h2>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
    <p>
      For a long time, everyone has something to worship. Religions creates faith for humanity to strive for better tomorrow. However, certain barriers disallow people to share their faith upon each other. With this website, I hope to connect the bridge into a unity.
    </p>
    </blockquote>
  </div>
</div>

